{
  "comments": true,
  "compact": "auto",
  "retainLines": true,

  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry"
    }],
    ["@babel/preset-stage-0", {
      "decoratorsLegacy": true,
      "loose": true,
      "useBuiltIns": true
    }]
  ]
}
